<!doctype html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="welcome.css">

</head>

<body>


		<form accept-charset="UTF-8" action="/register" method="post">
			<input name="username" type="text" placeholder="Username" value="<%= flash[:username] %>"/>
			<input name="password" type="password" placeholder="Password" value="<%= flash[:password] %>"/>
			<input name="password_confirm" type="password" placeholder="Confirm password" value="<%= flash[:password_confirm] %>"/>
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
			<input type="submit" value="Register"/>
		</form>
		<form action="./../">
			<input type="submit" value="Cancel"/>
		</form>

	<div><%= simple_format(flash[:error]) %></div>
	</div>
</body>
</html>
